<div id="newBlogPostContainer">
  <h2 *ngIf="mode === 'add'">Create new blog post</h2>
  <h2 *ngIf="mode === 'edit'">Edit blog post</h2>
  <form class="newBlogPostForm">
    <mat-form-field style="display: none" class="newBlogPostFullWidth">
      <mat-label for="blogPostId">Id</mat-label>
      <input matInput type="text" disabled name="blogPostId" id="blogPostId" [(ngModel)]="blogPost.id"><br>
    </mat-form-field>
    <mat-form-field class="newBlogPostFullWidth">
      <mat-label for="blogPostTitle">Title</mat-label>
      <input matInput type="text" name="blogPostTitle" id="blogPostTitle" [(ngModel)]="blogPost.title"><br>
    </mat-form-field>
    <mat-form-field class="newBlogPostFullWidth">
      <mat-label for="blogPostText">Text</mat-label>
      <input matInput type="text" name="blogPostText" id="blogPostText" [(ngModel)]="blogPost.text"><br>
    </mat-form-field>
    <mat-form-field class="newBlogPostFullWidth">
      <mat-label for="blogPostAuthor">Author</mat-label>
      <input matInput type="text" name="blogPostAuthor" id="blogPostAuthor" [(ngModel)]="blogPost.author"><br>
    </mat-form-field>
    <mat-form-field class="newBlogPostFullWidth">
      <input matInput #input="ngModel" [(ngModel)]="pickerDate" [matDatepicker]="picker" placeholder="Choose a date" name="blogPostDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <button mat-button color="secundary" class="newBlogPostButtons" (click)="returnToRoot()">Cancel</button>
  <button mat-raised-button color="primary" class="newBlogPostButtons" (click)="saveBlogPost()" [disabled]="cantBeSaved()">
    <ng-container *ngIf="mode === 'add'">Create</ng-container>
    <ng-container *ngIf="mode === 'edit'">Update</ng-container>
  </button>

</div>
