<div id="homeContainer">
  <h1 id="title">Posts</h1>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let blogPost of blogPosts$ | async">
      <h1 matLine class="blogTitle"> {{ blogPost.title }} </h1>
      <p matLine class="blogContent"> {{ blogPost.text }} </p>
      <p matLine class="blogDate"> {{blogPost.date}} </p>
      <p matLine class="blogAuthor"> {{ blogPost.author }} </p>
      <button mat-button color="primary" (click)="deleteBlogPost(blogPost.id)">Delete</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <br/>
  <button mat-button color="primary" (click)="createNewBlogPost()">Create new post</button>
</div>
